<h3>Novo estagiário</h3>
<div>
    <div>
        <form action="/estagiarios/cadastro/novo" method="POST">
            <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" placeholder="nome" class="form-control">
            <br>
            <label for="dataNascimento">Data de nascimento: </label>
                <input type="text" id="dataNascimento" name="dataNascimento" placeholder="data de nascimento" class="form-control">
            <br>
            <label for="registroAcademico">Registro academico: </label>
                <input type="text" id="registroAcademico" name="registroAcademico" placeholder="registro academico" class="form-control">
            <br>
            <label for="curso">Curso: </label>
                <input type="text" id="curso" name="curso" placeholder="curso" class="form-control">
            <br>
            <label for="turno">Turno: </label>
                <input type="text" id="turno" name="turno" placeholder="turno" class="form-control">
            <br>
            <label for="cedulaDeIdentidade">Cedula de identidade: </label>
                <input type="text" id="cedulaDeIdentidade" name="cedulaDeIdentidade" placeholder="cedula de identidade" class="form-control">
            <br>
            <label for="cpf">Cpf: </label>
                <input type="text" id="cpf" name="cpf" placeholder="cpf" class="form-control">
            <br>
            <label for="nacionalidade">Nacionalidade: </label>
                <input type="text" id="nacionalidade" name="nacionalidade" placeholder="nacionalidade" class="form-control">
            <br>
            <label for="estadoCivil">Estado civil: </label>
                <input type="text" id="estadoCivil" name="estadoCivil" placeholder="estado civil" class="form-control">
            <br>
            <label for="cidade">Cidade: </label>
                <input type="text" id="cidade" name="cidade" placeholder="cidade" class="form-control">
            <br>
            <label for="estado">Estado: </label>
                <input type="text" id="estado" name="estado" placeholder="estado" class="form-control">
            <br>
            <label for="cep">Cep: </label>
                <input type="text" id="cep" name="cep" placeholder="cep" class="form-control">
            <br>
            <label for="fone">Fone: </label>
                <input type="text" id="fone" name="fone" placeholder="telefone" class="form-control">
            <br>
            <label for="email">Email: </label>
                <input type="text" id="email" name="email" placeholder="email" class="form-control">
            <br>
            <button>Cadastrar estagiário</button>
        </form>
    </div>
</div>