<h3>Nova categoria</h3>
<div>
    <div>
        <form action="/estagiarios/cadastro/novo" method="POST">
            <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" placeholder="nome" class="form-control">
            <br>
            <label for="dataNascimento">dataNascimento: </label>
                <input type="text" id="dataNascimento" name="dataNascimento" placeholder="dataNascimento" class="form-control">
            <br>
            <label for="registroAcademico">registroAcademico: </label>
                <input type="text" id="registroAcademico" name="registroAcademico" placeholder="registroAcademico" class="form-control">
            <br>
            <label for="curso">curso: </label>
                <input type="text" id="curso" name="curso" placeholder="curso" class="form-control">
            <br>
            <label for="turno">sobrenome: </label>
                <input type="text" id="turno" name="turno" placeholder="turno" class="form-control">
            <br>
            <label for="cedulaDeIdentidade">sobrenome: </label>
                <input type="text" id="cedulaDeIdentidade" name="cedulaDeIdentidade" placeholder="cedulaDeIdentidade" class="form-control">
            <br>
            <label for="cpf">sobrenome: </label>
                <input type="text" id="cpf" name="cpf" placeholder="cpf" class="form-control">
            <br>
            <label for="nacionalidade">sobrenome: </label>
                <input type="text" id="nacionalidade" name="nacionalidade" placeholder="nacionalidade" class="form-control">
            <br>
            <label for="estadoCivil">sobrenome: </label>
                <input type="text" id="estadoCivil" name="estadoCivil" placeholder="estadoCivil" class="form-control">
            <br>
            <label for="cidade">sobrenome: </label>
                <input type="text" id="cidade" name="cidade" placeholder="cidade" class="form-control">
            <br>
            <label for="estado">sobrenome: </label>
                <input type="text" id="estado" name="estado" placeholder="estado" class="form-control">
            <br>
            <label for="cep">sobrenome: </label>
                <input type="text" id="cep" name="cep" placeholder="cep" class="form-control">
            <br>
            <label for="fone">sobrenome: </label>
                <input type="text" id="fone" name="fone" placeholder="fone" class="form-control">
            <br>
            <label for="email">sobrenome: </label>
                <input type="text" id="email" name="email" placeholder="email" class="form-control">
            <br>
            <label for="registerDate">sobrenome: </label>
                <input type="text" id="registerDate" name="registerDate" placeholder="registerDate" class="form-control">
            <br>
            <button>Criar categoria</button>
        </form>
    </div>
</div>